<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		ul{padding-left: 10px;padding-right: 10px;list-style-type: none;font-size: 120%;}
		ul :nth-child(odd){background: #eee;}
		li {padding-top: 5px;padding-bottom: 5px;word-wrap: break-word;}
	</style>
</head>
<body>
	<h1>チャット履歴</h1>

	<ul class="msgs">
		<%
		function getToday(time){
		let year = time.getFullYear();
		let month = time.getMonth() + 1;
		let date = time.getDate();
		let hour = addZero(time.getHours());
		let min = addZero(time.getMinutes());
		let sec = addZero(time.getSeconds());
		let today = month + "/" + date + "-" + hour + ":" + min + ":" + sec;
		return today;}

		function addZero(x){
		if (x < 10) {x = "0"+x;}
		return x;}
		%>
		<% for (var i in msgs) {%>
		<li>[<%=getToday(msgs[i].time)%>] <%=msgs[i].name%> : <%=msgs[i].msg%></li>
		<% } %>
	</ul>
</body>
</html>